.tree-container {
  overflow: hidden;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  justify-content: flex-start;
  align-items: flex-start;
}

.tree-name {
  color: lightblue;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
}

.tree-node {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}

.tree-children {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  border: 1px solid teal;
  padding: 2px;
}
